.addIlliness{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
    height: 90vh;
}

.aiTitle{
    font-size: 28px;
    text-align: center;
}

.aiTitle h1:first-child{
    margin: 0;
    color: #fea910;
}

.aiTitle h1:Last-child{
    margin: 0;
    color: #38b6ff;
}

.aiMain{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    
    width: 30%;
    height: 40%;
    
    background-color: #f5f6f3;
    border-radius: 32px;
}

.aiMain section h3{
    font-size: 22px;
    color: #38b6ff;
    margin: 0;
}

.aiMain section{
    width: 90%;
    margin-bottom: 40px;
}

.aiGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2,1fr) ;
}

.aiGrid h3{
    color: #38b6ff;
    margin: 0;
}

.aiGridInput{
    border-radius: 32px;
    border: none;
    background-color: white;
    width: 100%;
    height: 30px;
}

.aiGridButton{
    border-radius: 32px;
    background-color: #f5f6f3;
    
    padding: 20px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.aiGridButton:hover{
    background-color: #ffcd6f;;
}
