.calendar {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.calendar h1 {
    text-align: center;
    margin: 0;
    font-size: 42px;
}

.calendarSec {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 30%;
}

.calendarSec h3 {
    font-size: 20px;
    margin: 0;
    color: #38b6ff;
}

.calendarButton {
    max-width: 20%;
    max-height: 10%;
    
    color: white;
    
    font-size: 22px;
    font-weight: 600;
    
    border-radius: 32px;
    border: solid 2px white;
    
    text-decoration: none;
    padding: 1%;
}

.DateTitle{
    display: flex;

    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

.DateTitle :first-child{
    color: #38b6ff;
}

.DateTitle :last-child{
    color: #fea910;
}

.description {
    display: flex;
    flex-direction: column;
    
    padding: 2%;
    overflow-y: auto;
    
    height: 60%;
    width: 50%;
    
    border-radius: 32px;
    border: none;
    
    background-color: #f5f6f3;
}

.description p {
    margin: 0;
}

.cActivity{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    
    background-color: #ffd485;
    border-radius: 32px;
    padding: 2%;
    margin-bottom: 20px;
}

*{
    box-sizing: border-box;
}

.itemGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.description h4{
    margin: 0;
    color: #38b6ff;
}

.description section{
    width: 100%;
    margin: 2% 0;
}

.description section:first-child{
    margin: 0;
}

.inputDes{
    width: 100%;
    background-color: white;
    border-radius: 32px;
    border: none;
    padding: 10px;
}

.descButton{
    background-color: #f5f6f3;
    border-radius: 32px;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.descButton:hover{
    background-color: #dbf1af;
}