body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}


.TopBarGrid{
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-template-rows: 10vh;
    width: 100vw;
    background-color: #fff62a;;
}

.TopBarGrid a{
    font-weight:900;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 28px;
}

.TopBarGrid section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopLogo {
    display: flex;
    align-items: center;
    height: 80%;
    margin: auto;
    padding-right: 20px;
}

.TopLogo img{
    height: 80%;
}

.TopIcon{
    display: flex;
    margin-right: 5%;
    align-items: center;
    justify-content: end;
}

.TopIcon img{
    height: 80%;
}


.Footer{
    display: flex;
    align-items: start;
    justify-content: space-around;
    
    background-color: #fff62a;
    
    width: 100vw;
    height: auto;
}

.Footer2{
    display: flex;
    align-items: start;
    justify-content: space-around;
    
    background-color: #fff62a;
    
    width: 100vw;
    height: 10vh;
}

.Footer section{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    width: 80%;
    color: #fea910;
}

.Footer section h1{
    margin-bottom: 0;
}

.Footer section p{
    font-size: 24px;
    max-width: 50%;
}
