/* GENERAL */
html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

/* ---------------------------------------------- */
/* QUE TODO SE AJUSTE DENTRO DEL TAMAÑO DE LA PANTALLA */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ENCABEZADO PRINCIPAL */
.TopBarGrid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 10vh;
    width: 100%;
    background-color: #ffde00;
    max-width: 100%;
    overflow: hidden;
}

/* LOGO */
.TopLogo img {
    height: 60%;
    max-height: 50px;
    object-fit: contain;
    margin-left: 15px;
    margin-top: 6px;
}

/* SECCIÓN DE ENLACES */
.TopBar-Links {
    display: flex;
    gap: 30px; 
    margin-left: -60%; 
}

/* ENLACES */
.TopBar-Links a {
    display: block;
    white-space: nowrap;
    font-size: 28px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.TopBar-Links a:hover {
    color: #fea910;
}

/* ICONO DE PERFIL */
.TopIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.TopIcon img {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    object-fit: contain;
    border-radius: 50%;
}

.Footer {
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-color: #ffde00;
    width: 100vw;
    height: auto;
}

.Footer2 {
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-color: #ffde00;
    width: 100vw;
    height: 10vh;
}

.Footer section{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    width: 80%;
    color: #fea910;
}

.Footer section h1{
    margin-bottom: 0;
}

.Footer section p{
    font-size: 24px;
    max-width: 50%;
}
