/* Seccion general de login */
.loginBackground {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

/* Recuadro central */
.loginContainer{
    display: flex;
    flex-direction: column;

    border-radius: 32px;
    
    justify-content: space-around;
    align-items: center;
    
    background-color: rgb(255, 0, 0);
    height: 80%;
    max-width:50% ;
}

.loginContainer img{
    height: 50%;
}

/* Contenedor de la seccion de botones */
.LsButtons {
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: space-between;
}

.LsButtons button {
    font-family: "Montserrat",sans-serif;
    border: white solid 1px;
    border-radius: 32px;
    font-size: 32px;
    cursor: pointer;
}

/* Entrada de datos */
.dataInsertContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background-color: blue;
    height: 50%;
    width: 50%;
}

.dataInsertContainer input{
    width: 80%;
    height: 15%;
}


