/* General */
.medical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115vh;
    min-width: 100vw;
    margin: 0;
    padding: 2rem;
}

/* Título */
.medical-Title {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 60px;
}

.medical-Title h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 0;
}

.highlight-yellow {
    color: #fea910;
}

.highlight-blue {
    color: #38b6ff;
}

/* Contenedor principal */
.medicalMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    padding: 0 60px;
}

/* Listas */
/* Contenedor general */
.medicalListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 45%;
    margin-bottom: 20px;
}

/* Títulos */
.medicalListContainer h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #38b6ff; 
    text-align: left;
}

/* Contenedor desplazable */
.medicalList {
    overflow-y: auto;
    width: 100%;
    height: 400px;
    background-color: #f5f6f3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    box-sizing: border-box;
}

/* Elementos individuales */
.hItem {
    width: 100%;
    background-color: #ffefa4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.hItem p {
    margin: 5px 0;
    color: #333; /* Texto más oscuro */
}

.hItem strong {
    color: #fea910; /* Color resaltado */
}

/* Estilo del scroll */
.medicalList::-webkit-scrollbar {
    width: 8px;
}

.medicalList::-webkit-scrollbar-thumb {
    background-color: #fea910;
    border-radius: 10px;
}

.medicalList::-webkit-scrollbar-track {
    background-color: #f5f6f3;
    border-radius: 10px;
}

/* Elementos dentro de las listas */
.medicalItem {
    display: block;
    background-color: #fcd794;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #4a4a4a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.medicalItem:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Botones */
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.medicalButton {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #38b6ff;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.medicalButton:hover {
    background-color: #fea910;
}
