.myDataRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

    .myDataRow input {
        margin: 0 2% 0 0;
    }

    .myDataRow :last-child {
        margin: 0;
    }


.ownerAvatares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f5f6f3;
    border-radius: 32px;
    width: 100%;
    padding: 2%;
}

    .ownerAvatares img {
        margin: auto;
        cursor: pointer;
    }

.dataMain {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

    .dataMain h1 {
        text-align: center;
        margin: 0;
        font-size: 42px;
    }

    .dataMain section {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 30%;
    }

        .dataMain section h3 {
            font-size: 20px;
            margin: 0 0 1%;
            color: #38b6ff;
        }

    .dataMain input {
        width: 100%;
        padding: 2%;
        border-radius: 32px;
        border: none;
        background-color: #f5f6f3;
    }

    .dataMain a {
        max-width: 20%;
        max-height: 10%;
        color: white;
        font-size: 22px;
        font-weight: 600;
        border-radius: 32px;
        border: solid 2px white;
        text-decoration: none;
        padding: 1%;
    }
