
/* CONTENIDO GENERAL */
.history {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

/* TITULO */
.history-Title {
    text-align: center;
}

/* TAMAÑO */
.history-Title h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
}

/* COLORES DE TITULO */
.history-Title .highlight-yellow {
    color: #fea910;
}

.history-Title .highlight-blue {
    color: #38b6ff;
}

/* SECCION */
.history section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 30%;
}

.history section h3 {
    font-size: 20px;
    margin: 0;
    color: #38b6ff;
}

.history a {
    max-width: 20%;
    max-height: 10%;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 32px;
    border: solid 2px white;
    text-decoration: none;
    padding: 1%;
    margin-bottom: 20px;
    cursor: pointer;
}

/* INFORMACION */
.historyData {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    width: 100%;
    height: 50%;
    background-color: #f5f6f3;
    padding: 1%;
    border-radius: 32px;
    border: none;
    margin-bottom: 50px;
}

.hItem {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fcd794;
    padding: 10px;
    border-radius: 32px;
    box-sizing: border-box;
}

.hItem p{
    margin: 0;
}
