.myPets {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.myPets h1 {
    text-align: center;
    margin: 0;
    font-size: 42px;
}

.myPets div :first-child{
    color: #fea910;
}

.myPets div :last-child{
    color: #38b6ff;
}

.myPets a {
    max-width: 20%;
    max-height: 10%;
    
    color: white;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    
    border-radius: 32px;
    border: solid 2px white;
    
    padding: 1%;
}

.myPetsIcons{
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;

    width: 80%;
    height: auto;
}

.myPetsItem{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    margin: 1%;
    
    background-color: #a6ff00;
}

.myPetsItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20%;
    border-radius: 32px;
    background-color: #a6ff00;

}