

.mpPets{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
    justify-content: center;
}

.mpPets h1{
    height: 10%;
}

.mpPets section{
    height: 80%;
}

.mpPets button{
    height: 10%;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 10vh;
    /* border-radius: 32px; */
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}